version: 2.1

orbs:
  general-platform-helpers: okta/general-platform-helpers@1.9.4
  platform-helpers: okta/platform-helpers@2.0.0
  android: circleci/android@3.1.0
  path-filtering: circleci/path-filtering@2.0.2
  python: circleci/python@2.1.1
  aws-cli: circleci/aws-cli@5.1

jobs:
  reversing-labs:
    docker:
      - image: cimg/openjdk:17.0.11
    steps:
      - checkout

      - run:
          name: Install Python
          command: |
            sudo apt-get update
            sudo apt-get install -y python3 python3-pip
            sudo pip install --upgrade pip
      - run:
          name: Download Reverse Labs Scanner
          command: |
            curl https://dso-resources.oktasecurity.com/scanner \
              -H "x-api-key: $DSO_RLSECURE_TOKEN" \
              --output rl_wrapper-0.0.2+35ababa-py3-none-any.whl
      # Install the wrapper that was downloaded
      - run:
          name: Install RL Wrapper
          command: |
            pip install ./rl_wrapper-0.0.2+35ababa-py3-none-any.whl
      # Setup the AWS profile
      - aws-cli/setup:
          profile_name: default
          role_arn: $AWS_ARN
          region: us-east-1
      # Get the credentials and save to env
      - run: >-
          eval "$(aws configure export-credentials --profile default --format env)" 2> /dev/null
      # Run the wrapper, do not change anything here
      - run:
          name: Run Reversing Labs Wrapper Scanner
          command: |
            rl-wrapper \
              --artifact ${CIRCLE_WORKING_DIRECTORY/#\~/$HOME} \
              --name $CIRCLE_PROJECT_REPONAME\
              --version $CIRCLE_SHA1\
              --repository $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME \
              --commit $CIRCLE_SHA1 \
              --build-env "circleci" \
              --suppress_output

  unit-test:
    executor: &android_executor
      name: android/android_docker
      tag: 2025.09.1
      resource_class: xlarge
    environment: &gradle_opts_environment
      GRADLE_OPTS: '
      -Dorg.gradle.jvmargs="-Xmx6g -XX:+HeapDumpOnOutOfMemoryError"
      -Dorg.gradle.daemon=false
      -Dorg.gradle.workers.max=3
      -Dkotlin.incremental=false'
    steps:
      - checkout
      - android/restore_gradle_cache
      - android/run_tests:
          test_command: ./gradlew testDebugUnitTest --no-daemon
      - android/save_gradle_cache
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit
  unit-test-android-host:
    executor: &android_executor
      name: android/android_docker
      tag: 2025.09.1
      resource_class: xlarge
    environment: &gradle_opts_environment
    steps:
      - checkout
      - android/restore_gradle_cache
      - android/run_tests:
          test_command: ./gradlew :okta-direct-auth:testAndroidHostTest --no-daemon
      - android/save_gradle_cache
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit
  snyk-scan:
    executor: *android_executor
    steps:
      - checkout
      - general-platform-helpers/step-run-snyk-monitor:
          scan-all-projects: true
          skip-unresolved: false
          run-on-non-main: true
          additional-arguments: "--configuration-matching=implementation"

  build:
    executor: *android_executor
    environment: *gradle_opts_environment
    steps:
      - checkout
      - android/restore_gradle_cache
      - run:
          name: Generate Debug Keystore
          command: |
            mkdir -p ~/.android/
            keytool -genkey -v -keystore ~/.android/debug.keystore \
              -alias androiddebugkey -keyalg RSA -keysize 2048 -validity 10000 \
              -storepass android -keypass android \
              -dname "CN=Android Debug,O=Android,C=US"
      - run:
          name: Build Debug APK
          command: ./gradlew assembleDebug --no-daemon
      - android/save_gradle_cache
      - store_artifacts:
          path: app/build/outputs/apk/debug/
          destination: apks

  spotless-check:
    executor: *android_executor
    steps:
      - checkout
      - android/restore_gradle_cache
      - run:
          name: Run Spotless Check
          command: ./gradlew spotlessCheck --no-daemon
      - android/save_gradle_cache

  api-check:
    executor: *android_executor
    steps:
      - checkout
      - android/restore_gradle_cache
      - run:
          name: Run API Check
          command: ./gradlew checkLegacyAbi --no-daemon
      - android/save_gradle_cache

workflows:
  test-and-build:
    jobs:
      - reversing-labs:
          context:
            - static-analysis
      - unit-test:
          requires:
            - reversing-labs
      - unit-test-android-host:
          requires:
            - reversing-labs
      - build:
          requires:
            - reversing-labs
      - spotless-check:
          requires:
            - reversing-labs
      - api-check:
          requires:
            - reversing-labs
      - snyk-scan:
          requires:
            - reversing-labs
          context:
            - static-analysis
#          filters:
#            branches:
#              only:
#                - master
