version: 2.1

orbs:
  general-platform-helpers: okta/general-platform-helpers@1.9.4
  android: circleci/android@3.1.0
  path-filtering: circleci/path-filtering@2.0.2

jobs:
  unit-test:
    executor: &android_executor
      name: android/android_docker
      tag: 2025.09.1
      resource_class: xlarge
    environment: &gradle_opts_environment
      GRADLE_OPTS: '
      -Dorg.gradle.jvmargs="-Xmx6g -XX:+HeapDumpOnOutOfMemoryError"
      -Dorg.gradle.daemon=false
      -Dorg.gradle.workers.max=3
      -Dkotlin.incremental=false'
    steps:
      - checkout
      - android/restore_gradle_cache
      - android/run_tests:
          test_command: ./gradlew testDebugUnitTest --no-daemon
      - android/save_gradle_cache
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit
  unit-test-android-host:
    executor: &android_executor
      name: android/android_docker
      tag: 2025.09.1
      resource_class: xlarge
    environment: &gradle_opts_environment
    steps:
      - checkout
      - android/restore_gradle_cache
      - android/run_tests:
          test_command: ./gradlew :okta-direct-auth:testAndroidHostTest --no-daemon
      - android/save_gradle_cache
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit
  snyk-scan:
    executor: *android_executor
    steps:
      - attach_workspace:
          at: ~/project
      - checkout
      - general-platform-helpers/step-load-dependencies
      - general-platform-helpers/step-run-snyk-monitor:
          scan-all-projects: true
          skip-unresolved: false
          run-on-non-main: false
          additional-arguments: "--configuration-matching=implementation"

  build:
    executor: *android_executor
    environment: *gradle_opts_environment
    steps:
      - checkout
      - android/restore_gradle_cache
      - run:
          name: Generate Debug Keystore
          command: |
            mkdir -p ~/.android/
            keytool -genkey -v -keystore ~/.android/debug.keystore \
              -alias androiddebugkey -keyalg RSA -keysize 2048 -validity 10000 \
              -storepass android -keypass android \
              -dname "CN=Android Debug,O=Android,C=US"
      - run:
          name: Build Debug APK
          command: ./gradlew assembleDebug --no-daemon
      - android/save_gradle_cache
      - store_artifacts:
          path: app/build/outputs/apk/debug/
          destination: apks

  spotless-check:
    executor: *android_executor
    steps:
      - checkout
      - android/restore_gradle_cache
      - run:
          name: Run Spotless Check
          command: ./gradlew spotlessCheck --no-daemon
      - android/save_gradle_cache

  api-check:
    executor: *android_executor
    steps:
      - checkout
      - android/restore_gradle_cache
      - run:
          name: Run API Check
          command: ./gradlew apiCheck --no-daemon
      - android/save_gradle_cache

workflows:
  test-and-build:
    jobs:
      - unit-test
      - unit-test-android-host
      - build
      - spotless-check
      - api-check
      - snyk-scan:
          context:
            - static-analysis
          filters:
            branches:
              only:
                - master