<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="androidx.security" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/full_backup_content">
        <activity
            android:name=".BiometricDecryptionActivity"
            android:theme="@style/Theme.AppCompat.Transparent"
            android:exported="false" />
    </application>
</manifest>
